<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    <link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>😸</text></svg>'>

    <script src='https://cdn.tailwindcss.com'></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            colors: {
              gray: colors.slate
            }
          }
        }
      }
    </script>
  </head>

  <body class='bg-gray-200 text-gray-800 m-10 dark:bg-black dark:text-gray-200'>
    <div class='w-full md:w-2/3 mx-auto mb-4 flex justify-between items-center'>
      <div class='text-4xl'>
        <a href="{{path('app_micro_post')}}">Home</a>
        {% block breadcrumbs %}{% endblock %}
      </div>

      <div class='text-right'>
        <div class='text-sm text-gray dark:text-gray-500'>
          <div>
            Login & Registration
          </div>
          <div>
            <a href="{{ path('app_micro_post_add')}}">Add new</a>
          </div>
        </div>
      </div>
    </div>

    <div class='w-full md:w-2/3 mx-auto'>
      {% for message in app.flashes('success') %}
        <div class='rounded-md p-2 border-blue-300 bg-blue-200 border dark:border-blue-700 dark:bg-blue-800 dark:text-white mb-4'>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </body>
  </body>
</html>
